{% load static %}
{% block header %}
  {% include 'base_header2.html' %}
{% endblock %}

{% block content  %}
<div style="position: relative;" uk-slideshow="animation: push; min-height: 300; max-height: 500; autoplay: true" uk-scrollspy="cls:uk-animation-fade">
    <div class="uk-position-relative uk-visible-toggle uk-light" >
        <ul class="uk-slideshow-items" >
            <li>
                <img src="{% static 'images/header_normal.png' %}" alt="" uk-cover height="500" width="1100">
            </li>
        </ul>
    </div>
</div>
    <div style="margin-left:20px; margin-right:20px; margin-top: 50px;" uk-scrollspy="cls:uk-animation-fade">
      <table class="uk-table uk-table-middle uk-table-divider">
          <tbody >
              <h3>
                  <span class=".uk-text-lead" style="font-size: 20px;font-weight: bold; font-family: Kanit">กิจกรรมนักศึกษา</span>
                  <span><button class = "btn btn-default"><a href="/addActivity/">เพิ่มกระทู้</a></button></span>
              </h3>
              <tr>
                <th >วันที่</th>
                <th>หัวข้อ</th>
            </tr>
            {%for i in activity%}
              <tr>
                <td style="width:20%;font-family: Kanit">{{i.date}}</td>
                <td>
                    <a class=".uk-text-lead"  href="/updateActivity/" style="font-family: Kanit">{{i.titleboard}}</a>
                </td>
            </tr>
            {%endfor%}
    
              
          </tbody>
          
      </table>
    </div>
{% endblock %}



{% block footer %}
  {% include 'base_footer.html' %}
{% endblock %}

  
