{% load static %}
{% block header %}
{% include 'base_header2.html' %}
{% endblock %}
{% load widget_tweaks %}

<div style="position: relative;" uk-slideshow="animation: push; min-height: 300; max-height: 500; autoplay: true"
  uk-scrollspy="cls:uk-animation-fade">
  <div class="uk-position-relative uk-visible-toggle uk-light">
    <ul class="uk-slideshow-items">
      <li>
        <img src="{% static 'images/header_home.png' %}" alt="" uk-cover height="500" width="1100">
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="uk-visible@l">
    <form method="post" enctype="multipart/form-data" action = "/addNews/">
      {%csrf_token%}
      {%for f in form%} 
      {{f.label_tag}}
      <br>{% render_field f class="input" style="font-size: 16px;font-weight: bold;" %}<br><br>
      {%endfor%}
    <button style="text-align: right" type="submit" class="uk-button uk-button-primary" >บันทึก</button>
  </form>
</div>
  <div class="uk-hidden@l" style="font-size:40px;margin-top: 50px;">
    <form method="post" enctype="multipart/form-data" action = "/addNews/">
      {%csrf_token%}
      {%for f in form%} 
      {{f.label_tag}}
      <br>{% render_field f class="input" style="font-size: 20px;font-weight: bold;" %}<br><br>
      {%endfor%}
    <button style="text-align: right;font-size: 35px;" type="submit"
      class="uk-button uk-button-primary uk-button-large" >บันทึก</button>
  </form>
</div>

</div>

{% block footer %}
{% include 'base_footer.html' %}
{% endblock %}