{% load static %}
{% block header %}
{% include 'base_header2.html' %}
{% endblock %}
{% load widget_tweaks %}

<div uk-slideshow="animation: push; min-height: 300; max-height: 500; autoplay: true"
  uk-scrollspy="cls:uk-animation-fade">
  <div class="uk-position-relative uk-visible-toggle uk-light">
    <ul class="uk-slideshow-items">
      <li>
        <img src="{% static 'images/header_home.png' %}" alt="" uk-cover height="500" width="1100">
      </li>
    </ul>
  </div>
</div>

<div class="container" uk-scrollspy="cls:uk-animation-fade">
    <div style="text-align: center">
      <div class="centerform uk-width-1-1 uk-padding-large uk-child-width-4-5">
        <h3><span class="uk-text-lead">เพิ่มประกาศใหม่</span></h3>
        <form method="post" enctype="multipart/form-data" action = "/addNews/">
            {%csrf_token%}
            {%for f in form%} 
            {{f.label_tag}}
            {% render_field f %}
            {%endfor%}
            <div style="text-align:center">
            <button type="submit" class="uk-button uk-button-primary" >บันทึก</button>
            </div>
        </form>
    </div>
  </div>
</div>

{% block footer %}
{% include 'base_footer.html' %}
{% endblock %}