{% load static %}
{% block header %}
  {% include 'base_header2.html' %}
{% endblock %}

<div style="position: relative;" uk-slideshow="animation: push; min-height: 300; max-height: 500; autoplay: true" uk-scrollspy="cls:uk-animation-fade">
        <div class="uk-position-relative uk-visible-toggle uk-light" >
            <ul class="uk-slideshow-items" >
                <li>
                    <img src="{% static 'images/header_normal.png' %}" alt="" uk-cover height="500" width="1100">
                </li>
            </ul>
        </div>
    </div>

    <div style="margin-left:20px; margin-top:20px;">
        <div class="uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid  style="font-family: Kanit">
           
            <!-- <input type="button" value="upload file"> -->
              <form method="post" enctype="multipart/form-data">
                หัวข้อ:<br>
                <input style="font-size: 20px;font-weight: bold; font-family: Kanit" type="text" name="title"><br><br>
                วันที่:<br>
                <input style="font-size: 20px; font-family: Kanit" type="date" ><br><br>
                <input style="font-family: Kanit" type="file"><br><br><br>
                <button style="text-align: right" type="submit" class="uk-button uk-button-primary" >Submit</button>
              </form>
        
        </div>
    </div>

{% block footer %}
  {% include 'base_footer.html' %}
{% endblock %}

  
