{% load static %}
{% block header %}
{% include 'base_header2.html' %}
{% endblock %}

{% block content  %}
<div uk-slideshow="animation: push; min-height: 300; max-height: 500; autoplay: true"
    uk-scrollspy="cls:uk-animation-fade">
    <div class="uk-position-relative uk-visible-toggle uk-light">
        <ul class="uk-slideshow-items">
            <li>
                <img src="{% static 'images/header_exam.png' %}" alt="" uk-cover height="500" width="1100">
            </li>
        </ul>
    </div>
</div>
<div class="container">
        <table class="uk-table uk-table-middle uk-table-divider">
            <tbody>
                <span><a href="/addExam/" class="uk-button uk-button-primary">เพิ่มงานวิชาการ</a></span>
                <h3>
                    <span class="uk-text-lead">ภาษาอังกฤษ
                        <a style="font-size:20px;" href="/englishS/">(ดูทั้งหมด)</a>
                    </span>
                </h3>

                <tr>
                    <th class="uk-width-1-4@m uk-width-1-5@l">วันที่</th>
                    <th class="uk-table-expand uk-width-3-4@m uk-width-4-5@l">หัวข้อ</th>
                </tr>
                {%for i in eng%} 
                
                <tr>
                    <td>{{i.date}}</td>
                    <td>
                        <a class="uk-text-lead"  href="http://{{i.link}}">{{i.titleexam}}</a>
                    </td>
                </tr>
                
                {%endfor%}

            </tbody>
            </tbody>
        </table>
        <table class="uk-table uk-table-middle uk-table-divider">
            <tbody>
                <h3>
                    <span class="uk-text-lead">คณิตศาสตร์
                        <a style="font-size:20px;" href="/mathS/">(ดูทั้งหมด)</a>
                    </span>
                </h3>

                <tr>
                    <th class="uk-width-1-4@m uk-width-1-5@l">วันที่</th>
                    <th class="uk-table-expand uk-width-3-4@m uk-width-4-5@l">หัวข้อ</th>
                </tr>
                {%for i in math%} 
                
                <tr>
                    <td>{{i.date}}</td>
                    <td>
                        <a class="uk-text-lead"  href="http://{{i.link}}">{{i.titleexam}}</a>
                    </td>
                </tr>
                
                {%endfor%}

            </tbody>
            </tbody>
        </table>
        <table class="uk-table uk-table-middle uk-table-divider">
            <tbody>
                <h3>
                    <span class="uk-text-lead">หมวดอื่นๆ
                        <a style="font-size:20px;" href="/othersS/">(ดูทั้งหมด)</a>
                    </span>
                </h3>

                <tr>
                    <th class="uk-width-1-4@m uk-width-1-5@l">วันที่</th>
                    <th class="uk-table-expand uk-width-3-4@m uk-width-4-5@l">หัวข้อ</th>
                </tr>
                {%for i in others%} 
              
                <tr>
                    <td>{{i.date}}</td>
                    <td>
                        <a class="uk-text-lead"  href="http://{{i.link}}">{{i.titleexam}}</a>
                    </td>
                </tr>
               
                {%endfor%}

            </tbody>
            </tbody>
        </table>
</div>
{% endblock %}



{% block footer %}
{% include 'base_footer.html' %}
{% endblock %}