{% load static %}
{% block header %}
{% include 'base_header2.html' %}
{% endblock %}

{% block content  %}
<div style="position: relative;margin-top:5%" uk-slideshow="animation: push; min-height: 300; max-height: 500; autoplay: true"
    uk-scrollspy="cls:uk-animation-fade">
    <div class="uk-position-relative uk-visible-toggle uk-light">
        <ul class="uk-slideshow-items">
            <li>
                <img src="{% static 'images/header_math2.png' %}" alt="" uk-cover height="500" width="1100">
            </li>
        </ul>
    </div>
</div>
<div class="container" uk-scrollspy="cls:uk-animation-fade">
    <div class="uk-visible@l">
        <table class="uk-table uk-table-middle uk-table-divider">
            <tbody>
                <h3>
                    <span class=".uk-text-lead"
                        style="font-size: 30px;font-weight: bold;">คณิตศาสตร์</span>
                </h3>
                <tr>
                    <th style="font-size:20px;">วันที่</th>
                    <th class="uk-table-expand" style="font-size:20px;">หัวข้อ</th>
                </tr>
                {%for i in exams%}
                {%if i.category == 'MATH'%}
                <tr>
                    <td style="width:20%;font-size:20px;">{{i.date}}</td>
                    <td>
                        <a class=".uk-text-lead" href="http://{{i.link}}" style="font-size:20px;">{{i.titleexam}}</a>
                    </td>
                    <td><a class=".uk-text-lead" href="/delete_math/{{i.id}}" style="font-size:20px;"><button class="uk-button" style="font-size:20px;" name="delete">ลบลิ้งค์</button></a>
                    </td>
                </tr>
                {%endif%}
                {%endfor%}

            </tbody>

        </table>
        <ul class="uk-pagination">
            <li><a href="#"><span class="uk-margin-small-right" uk-pagination-previous></span> ก่อนหน้า</a></li>
            <li class="uk-margin-auto-left"><a href="#">ถัดไป <span class="uk-margin-small-left"
                        uk-pagination-next></span></a></li>
        </ul>
    </div>
    <div class="uk-hidden@l" style="font-size:30px;">
        <table class="uk-table uk-table-middle uk-table-divider">
            <tbody>
                <h3>
                    <span class=".uk-text-lead"
                        style="font-size: 45px;font-weight: bold;">คณิตศาสตร์</span>
                </h3>
                <tr>
                    <th style="font-size:30px;">วันที่</th>
                    <th class="uk-table-expand" style="font-size:30px;">หัวข้อ</th>
                </tr>
                {%for i in exams%}
                {%if i.category == 'MATH'%}
                <tr>
                    <td style="width:20%;">{{i.date}}</td>
                    <td>
                        <a class=".uk-text-lead" href="http://{{i.link}}">{{i.titleexam}}</a>
                    </td>
                    <td><a class=".uk-text-lead" href=""><button class="uk-button" name="delete">ลบลิ้งค์</button></a>
                    </td>
                </tr>
                {%endif%}
                {%endfor%} 

            </tbody>

        </table>
        <ul class="uk-pagination" style="font-size:30px;">
            <li><a href="#"><span class="uk-margin-small-right" uk-pagination-previous></span> ก่อนหน้า</a></li>
            <li class="uk-margin-auto-left"><a href="#">ถัดไป <span class="uk-margin-small-left"
                        uk-pagination-next></span></a></li>
        </ul>
    </div>
</div>
{% endblock %}



{% block footer %}
{% include 'base_footer.html' %}
{% endblock %}