{% load static %}
{% block header %}
{% include 'base_header2.html' %}
{% endblock %}
{% load widget_tweaks %}
<div uk-slideshow="animation: push; min-height: 300; max-height: 500; autoplay: true"
    uk-scrollspy="cls:uk-animation-fade">
    <div class="uk-position-relative uk-visible-toggle uk-light">
        <ul class="uk-slideshow-items">
            <li>
                <img src="{% static 'images/header_home.png' %}" alt="" uk-cover height="500" width="1100">
            </li>
        </ul>
    </div>
</div>

<div style="margin-left:17px; margin-top:50px;" uk-scrollspy="cls:uk-animation-fade">
    <div style="text-align:center">
        <div class="centerform">
            <form method="post" enctype="multipart/form-data" >
                {%csrf_token%}
                {%for f in form%} 
                {{f.label_tag}}
        <br>  {% render_field f class="input" style="font-size: 20px;" %}<br><br>
                {%endfor%}
                <div style="text-align:center">
                    <a class="uk-text-lead" href=""><button class="uk-button uk-button-danger" type="submit">อัพเดท</button></a>
                </div>
            </form>
        </div>
    </div>
</div>

{% block footer %}
{% include 'base_footer.html' %}
{% endblock %}