{% load static %}
{% block header %}
{% include 'base_header.html' %}
{% endblock %}

{% block content  %}
<div style="position: relative;" uk-slideshow="animation: push; min-height: 300; max-height: 500; autoplay: true"
    uk-scrollspy="cls:uk-animation-fade">
    <div class="uk-position-relative uk-visible-toggle uk-light">
        <ul class="uk-slideshow-items">
            <li>
                <img src="{% static 'images/header_normal.png' %}" alt="" uk-cover height="500" width="1100">
            </li>
        </ul>
    </div>
</div>
<div class="uk-visible@l" style="margin-left:20px; margin-right:20px;margin-top: 15px;"
    uk-scrollspy="cls:uk-animation-fade">
    <h3 style="margin-bottom:5px;">
        <span class=".uk-text-lead" style="font-size: 35px;font-weight: bold; font-family: Kanit">กิจกรรม</span>
    </h3>
    <h6 style="font-size: 15px;margin-top: 0; font-weight: lighter; font-family: Kanit">วันที่ xx/xx/xxxx</h6>
    <br><br><br><br><br> <br><br><br><br><br> <br><br><br><br><br>
    <div style="position: relative;" uk-slideshow="animation: push; min-height: 300; max-height: 500; autoplay: true"
        uk-scrollspy="cls:uk-animation-fade">
        <div class="uk-position-relative uk-visible-toggle uk-light">
            <ul class="uk-slideshow-items">
                <li>
                    <img src="{% static 'images/1.jpg' %}" alt="" uk-cover height="500" width="1100">
                </li>
                <li>
                    <img src="{% static 'images/2.jpg' %}" alt="" uk-cover height="500" width="1100">
                </li>
                <li>
                    <img src="{% static 'images/3.jpg' %}" alt="" uk-cover height="500" width="1100">
                </li>
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                uk-slideshow-item="next"></a>
        </div>
        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v3.3"></script>
        <div class="fb-comments" data-href="http://127.0.0.1:8000/activity2/" data-width="" data-numposts="5"></div>
    </div>
</div>
<div class="uk-hidden@l" style="margin-left:20px; margin-right:20px;margin-top: 15px;"
    uk-scrollspy="cls:uk-animation-fade">
    <h3 style="margin-bottom:5px;">
        <span class=".uk-text-lead" style="font-size: 50px;font-weight: bold; font-family: Kanit">กิจกรรม</span>
    </h3>
    <h6 style="font-size: 25px;margin-top: 0; font-weight: lighter; font-family: Kanit">วันที่ xx/xx/xxxx</h6>
    <br><br><br><br><br> <br><br><br><br><br> <br><br><br><br><br>
    <div style="position: relative;" uk-slideshow="animation: push; min-height: 300; max-height: 500; autoplay: true"
        uk-scrollspy="cls:uk-animation-fade">
        <div class="uk-position-relative uk-visible-toggle uk-light">
            <ul class="uk-slideshow-items">
                <li>
                    <img src="{% static 'images/1.jpg' %}" alt="" uk-cover height="500" width="1100">
                </li>
                <li>
                    <img src="{% static 'images/2.jpg' %}" alt="" uk-cover height="500" width="1100">
                </li>
                <li>
                    <img src="{% static 'images/3.jpg' %}" alt="" uk-cover height="500" width="1100">
                </li>
            </ul>
            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                uk-slideshow-item="next"></a>
        </div>
        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v3.3"></script>
        <div class="fb-comments" data-href="http://127.0.0.1:8000/activity2/" data-width="" data-numposts="5"></div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% include 'base_footer.html' %}
{% endblock %}