{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SCITU</title>
    {% load staticfiles %}
    <link rel="icon" type="image/png" href="{% static '/images/Thammasat_main_logo.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/hamburger.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/uikit.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="{% static '/js/uikit.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit-icons.min.js"></script>
</head>

<body>
        <nav class="uk-navbar-container" uk-navbar="mode: click" style="background-color:white;">
            <div class="uk-navbar-left">
                <a href="/home/">
                    <img src="{% static 'images/b1.png' %}" style="width:300px; margin: 10px;" />
                </a>
            </div>
            <div class="uk-navbar-right" style="margin-right:20px;">
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="/homeS/" style="color:black;font-weight: bold;"><span
                                    class="hover1">ข่าวสาร</span></a>
                    </li>
                    <li>
                        <a href="/activityS/" style="color:black;font-weight: bold;"><span
                                    class="hover1">กิจกรรมนักศึกษา</span></a>
                    </li>
                    <li>
                        <a href="/examS/" style="color:black;font-weight: bold;"><span
                                    class="hover1">วิชาการ</span></a>
                    </li>
                </ul>
                <div class="dropdown">
                    <a class="uk-navbar-toggle" href="#" style="color:white; background-color: #c00832">
                        <span uk-navbar-toggle-icon></span></a>
                    <div class="dropdown-content">
                        <a href="/homeS/" style="font-size:20px;">ข่าวสาร</a>
                        <a href="/activityS/" style="font-size:20px;">กิจกรรมนักศึกษา</a>
                        <a href="/examS/" style="font-size:20px;">วิชาการ</a>
                    </div>
                </div>
            </div>
        </nav>
    <script>
        $(function(){
                $("#id_date").datepicker({
                    dateFormat: "yy-mm-dd",
                    flat: true,
                });
        })
    </script>
</body>


</html>