{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SCITU</title>
    {% load staticfiles %}
    <link rel="icon" type="image/png" href="{% static '/images/Thammasat_main_logo.png' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/hamburger.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/uikit.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/datepicker.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="{% static '/js/uikit.min.js' %}"></script>
    <script src="{% static '/js/bootstrap-datepicker.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.4/js/uikit-icons.min.js"></script>
</head>

<body>
    <!-- style="  font-family: Arial, sans-serif; font-size : 15px;" -->

    <div class="uk-position-relative" style="position: fixed;top: 0; overflow: hidden; ">
        <div style="position: fixed; top:0 ; z-index: 1;width: 100%;">
            <nav class="uk-navbar-container" uk-navbar="mode: click" style="background-color:white; height: 0.5%">

                <div class="uk-navbar-left">
                    <a href="/">
                        <img src="{% static 'images/b1.png' %}" style="width:300px; margin: 10px;" />
                    </a>
                </div>
                <div class="uk-navbar-right" style="margin-right:20px;">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="/"
                                style="color:black;font-weight: bolder;"><span
                                    class="hover1">ข่าวสาร</span></a>
                        </li>
                        <li>
                            <a href="/activity/"
                                style="color:black;font-weight: bolder;"><span
                                    class="hover1">กิจกรรมนักศึกษา</span></a>
                        </li>
                        <li>
                            <a href="/exam/"
                                style="color:black;font-weight: bolder;"><span
                                    class="hover1">วิชาการ</span></a>
                        </li>
                        {% if request.user.is_authenticated %}

                        {% endif %}
                    </ul>
                    <div class="dropdown">
                        <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#"
                            style="color:white; background-color: #c00832"></a>
                        <div class="dropdown-content" >
                            <a href="/" style="font-size:20px;">ข่าวสาร</a>
                            <a href="/activity/" style="font-size:20px;">กิจกรรมนักศึกษา</a>
                            <a href="/exam/" style="font-size:20px;">วิชาการ</a>
                            {% if request.user.is_authenticated %}


                            {% endif %}


                        </div>
                    </div>

                </div>
            </nav>
        </div>
        <br><br><br><br>

</body>

</html>