{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SCITU</title>
    {% load staticfiles %}   
    <link rel="stylesheet" type="text/css" href="{% static '/css/uikit.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/hamburger.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />
    <script src="{% static '/js/uikit.min.js' %}"></script>
</head>
<body>
 <div class="uk-visible@l">
<div class="uk-grid-divider uk-child-width-expand@s" uk-grid style="background-color:#F1F1F3;color:white;margin-top:5px;padding-bottom: 15px;">
        <div style="margin-left: 5%">
            <div style="min-width: 40% ;max-width:100%;margin-left: 10% ;margin-top:15px;">
                <span style="color: black; font-weight: static;">ติดต่อ ธรรมศาสตร์</span >
            </div>
            <div style="width: 80%;margin-left: 10% ;">
                <ul style="padding-inline-start: 0px;">
                    <li style="display: inline-block;margin-right: 10px;"><a target="_blank" href="https://www.facebook.com/thammasat.uni/"><img src="{% static '/images/f.png' %}" width="22" height="22"></img></a></li>
                    <li style="display: inline-block;margin-right: 10px;"><a target="_blank" href="https://www.youtube.com/user/PRTHAMMASAT" ><img src="{% static '/images/y.png' %}" width="22" height="22"></img></a></li>
                    <li style="display: inline-block;margin-right: 10px;"><a target="_blank" href="https://twitter.com/thammasat_uni"><img src="{% static '/images/t.png' %}" width="22" height="22"></img></a></li>
                    <li style="display: inline-block;margin-right: 10px;"><a target="_blank" href="https://www.instagram.com/thammasat_official/"><img src="{% static '/images/i.png' %}" width="22" height="22"></img></a></li>
                </ul>
            </div>
            <div style="min-width: 40% ;max-width:100%;margin-left: 10% ;margin-top:10px;">
                <span style="color: black">ติดต่อสอบถาม</span><br>
                <span style="color: gray; font-size: 13px">หมวดบัณฑิตศึกษา ชั้น3 อาหารบรรยายรวม 5
                <br> คณะวิทยาศาสตร์และเทคโนโลยี มหาวิทยาลัยธรรมศาสตร์</span>
            </div>
        </div>
        <div style=" margin-top:15px;color:gray;">
          <p >
            <i class="fa fa-home"></i> <span style="color: black">ที่อยู่ </span> <span style="font-size: 13px"><br>99 ม.18 ต.คลองหนึ่ง อ.คลองหลวง จ.ปทุมธานี 12121<br></span>
            <br>
            <i class="fa fa-phone"></i> <span style="color: black">โทรศัพท์ </span> <span style="font-size: 13px"><br > 02-5644490 ต่อ 2094</span><br>
            <br>
            <i class="fa fa-envelope"></i><span style="color: black"> อีเมล์ </span>  <span style="font-size: 13px"> <br>grad@sci.tu.ac.th </span>
            <br>
          </p>
        </div>
    </div>
    </div>
    <div class="uk-hidden@l" style="font-size:20px;bottom:0;">
    <div class="uk-grid-divider uk-child-width-expand@m" uk-grid style="background-color:#F1F1F3;color:white;margin-top:5px;">
        <div style="margin-left: 5%">
            <div style="min-width: 40% ;max-width:100%;margin-left: 10% ;margin-top:15px;">
                <span style="color: black; font-weight: static;">ติดต่อ ธรรมศาสตร์</span >
            </div>
            <div style="width: 80%;margin-left: 10% ;">
                <ul style="padding-inline-start: 0px;">
                    <li style="display: inline-block;margin-right: 10px;"><a target="_blank" href="https://www.facebook.com/thammasat.uni/"><img src="{% static '/images/f.png' %}" width="22" height="22"></img></a></li>
                    <li style="display: inline-block;margin-right: 10px;"><a target="_blank" href="https://www.youtube.com/user/PRTHAMMASAT" ><img src="{% static '/images/y.png' %}" width="22" height="22"></img></a></li>
                    <li style="display: inline-block;margin-right: 10px;"><a target="_blank" href="https://twitter.com/thammasat_uni"><img src="{% static '/images/t.png' %}" width="22" height="22"></img></a></li>
                    <li style="display: inline-block;margin-right: 10px;"><a target="_blank" href="https://www.instagram.com/thammasat_official/"><img src="{% static '/images/i.png' %}" width="22" height="22"></img></a></li>
                </ul>
            </div>
            <div style="min-width: 40% ;max-width:100%;margin-left: 10% ;margin-top:10px;">
                <span style="color: black">ติดต่อสอบถาม</span><br>
                <span style="color: gray; font-size: 15px">หมวดบัณฑิตศึกษา ชั้น3 อาหารบรรยายรวม 5
                <br> คณะวิทยาศาสตร์และเทคโนโลยี มหาวิทยาลัยธรรมศาสตร์</span>
            </div>
        </div>
        <div style=" margin-top:15px;color:gray;">
          <p >
            <i class="fa fa-home"></i> <span style="color: black">ที่อยู่ </span> <span style="font-size: 15px"><br>99 ม.18 ต.คลองหนึ่ง อ.คลองหลวง จ.ปทุมธานี 12121<br></span>
            <br>
            <i class="fa fa-phone"></i> <span style="color: black">โทรศัพท์ </span> <span style="font-size: 15px"><br > 02-5644490 ต่อ 2094</span><br>
            <br>
            <i class="fa fa-envelope"></i><span style="color: black"> อีเมล์ </span>  <span style="font-size: 15px"> <br>grad@sci.tu.ac.th </span>
            <br>
          </p>
        </div>
    </div>
    </div>

</body>
</html>