{% load static %}
{% block header %}
  {% include 'base_header.html' %}
{% endblock %}

{% block content  %}
<div style="position: relative;" uk-slideshow="animation: push; min-height: 300; max-height: 500; autoplay: true" uk-scrollspy="cls:uk-animation-fade">
    <div class="uk-position-relative uk-visible-toggle uk-light" >
        <ul class="uk-slideshow-items" >
            <li>
                <img src="{% static 'images/header_normal.png' %}" alt="" uk-cover height="500" width="1100">
            </li>
        </ul>
    </div>
</div>
    <div style="margin-left:20px; margin-right:20px; margin-top: 50px;" uk-scrollspy="cls:uk-animation-fade">
      <table class="uk-table uk-table-middle uk-table-divider">
          <tbody >
              <h3>
                  <span class=".uk-text-lead" style="font-size: 20px;font-weight: bold; font-family: Kanit">ภาษาอังกฤษ</span>
              </h3>
              <tr>
                <th >วันที่</th>
                <th>หัวข้อ</th>
            </tr>
     {%for i in english%}
        {%if i.category == 'ENG'%}       
              <tr>
                <td style="width:20%;font-family: Kanit">{{i.date}}</td>
                <td>
                    <a class=".uk-text-lead"  href="http://{{i.link}}" style="font-family: Kanit">{{i.titleexam}}</a>
                </td>
            </tr>
        {%endif%}      
    {%endfor%}
              
          </tbody>
          
      </table>
      <ul class="uk-pagination">
        <li><a href="#"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a></li>
        <li class="uk-margin-auto-left"><a href="#">Next <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
    </ul>
    </div>
{% endblock %}



{% block footer %}
  {% include 'base_footer.html' %}
{% endblock %}

  
