{% load static %}
{% block header %}
{% include 'base_header.html' %}
{% endblock %}

{% block content  %}
<div style="position: relative;" uk-slideshow="animation: push; min-height: 300; max-height: 500; autoplay: true"
    uk-scrollspy="cls:uk-animation-fade">
    <div class="uk-position-relative uk-visible-toggle uk-light">
        <ul class="uk-slideshow-items">
            <li>
                <img src="{% static 'images/header_home.png' %}" alt="" uk-cover height="500" width="1100">
            </li>
        </ul>
    </div>
</div>
<div class="container">
<div class="uk-visible@l" style="margin-top:15px;margin-left:20px; margin-right:20px;"
    uk-scrollspy="cls:uk-animation-fade">
    <h3 style="margin-bottom:5px;">
        <span class=".uk-text-lead" style="font-size: 20px;font-weight: bold;">{{news.title}}</span>
    </h3>
    <h6 style="font-size: 13px;margin-top: 0; font-weight: lighter;">วันที่ {{news.date}}</h6>
    <p style="margin-top: 40px; font-weight: bold;margin-bottom:50px;">Download: <a href="/{{ news.file }}" download>{{news.file}}</a></p>
</div>
<div class="uk-hidden@l" style="margin-top:15px;margin-left:20px; margin-right:20px;"
    uk-scrollspy="cls:uk-animation-fade">
    <h3 style="margin-bottom:5px;">
        <span class=".uk-text-lead" style="font-size: 30px;font-weight: bold;">{{news.title}}</span>
    </h3>
    <h6 style="font-size: 15px;margin-top: 0; font-weight: lighter;">วันที่ {{news.date}}</h6>
    <br><br><br>
    <embed src="media/{{news.file}}" type="application/pdf" width="100%" height="600px" />
    {% if news.file %}
    <td style="font-size: 20px;margin-top: 0; font-weight: bold;">Download: <a href="/{{ news.file }}" download> {{ news.file }} </a></td>
    {%endif%} 
        <!-- <td style="width:20%;">Download : <a href="/pdf_view/{{news.id}}"> {{ news.file }} </a></td> -->

    </div>
</div>
    
{% endblock %}

{% block footer %}
{% include 'base_footer.html' %}
{% endblock %}