@font-face {
  font-family: TUFont;
  src: url('../fonts/TUFont.ttf'); }

@font-face {
  font-family: TUFont-bold;
  src: url('../fonts/TUFont-bold.ttf'); }

*:not(i){
  font-family: TUFont;
}

html {
  font-family: TUFont;
  font-size: 62.5%; /* เพื่อให้ 1rem มีค่าประมาณ 10px */
}
body {
  font-family: TUFont;
  font-size: 1.6em; /* มีค่าประมาณ 16px */
}

.container{
  margin-left:20px;
  margin-right:20px; 
  margin-top: 50px;
  height: auto;
  min-height:calc(100vh - 760px);
}

.centerform{
  margin-right: 0px;
  margin-bottom: 50px;
  display: inline-block;
  border: solid 1px #c3002f;
  padding: 60px 150px;
  width: 70%;
  text-align:left;
  font-weight: bold;
}
.centerform2{
  margin-right: 0px;
  margin-bottom: 50px;
  display: inline-block;
  border: solid 1px #c3002f;
  padding: 60px 100px;
  width: 66%;
  text-align:left;
  font-weight: bold;
}

.uk-text-lead{
  font-size: 1.7em;
  font-weight: bold;
}

.uk-table th{
  font-size: 1.3em;
  color:#333;
}

.uk-button{
  color:#c3002f;
  background: transparent;
}
.uk-button-primary,.uk-button-danger{
  color: #fff;
  background: #c3002f;
}

input,textarea{
  resize: none;
  width: 98%;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 4px 6px;
  cursor: pointer;
  margin-top: 8px;
}
input[type="file"] {
  border: 0.5 solid #ccc;
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
}
input[type="radio"] {
  width: 5%;
  border: none;
  cursor: pointer;
}

select{
  width: 99%;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 4px 6px;
  cursor: pointer;
  margin-top: 8px;
}