@font-face {
  font-family: TUFont;
  src: url('../fonts/TUFont.ttf'); }

@font-face {
  font-family: TUFont-bold;
  src: url('../fonts/TUFont-bold.ttf'); }

*:not(i){
  font-family: TUFont;
  font-size: 2rem;
}

html {
  font-family: TUFont;
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: TUFont;
  font-size: 2rem;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.container{
  margin: 50px 20px;
  min-height: calc(100vh - 960px);
}

.centerform{
  display: inline-block;
  border: solid 1px #c3002f;
  text-align:left;
  font-weight: bold;
}

.centerform > h3{
  margin-bottom: 20px;
}

.hover1{
  color: black;
  font-weight: bold;
}

.login-out{
  color: #c3002f;
  text-decoration: underline;
  font-weight: bold;
}

.uk-text-lead{
  font-size: 3rem;
  font-weight: bold;
}

.uk-table th{
  font-size: 2rem;
  color:#333;
}

.uk-button{
  color:#c3002f;
  background: transparent;
  font-size: 1.8rem;
}
.uk-button-primary,.uk-button-danger{
  color: #fff;
  background: #c3002f;
}

.uk-disable{
  cursor: default;
}

input,textarea{
  resize: none;
  width: 98%;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 4px 6px;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 2%;
}
input[type="file"] {
  border: 0.5 solid #ccc;
  display: inline-block;
  cursor: pointer;
}

select{
  width: 99.3%;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 4px 6px;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 2%;
  background-color: white;
}

h3,h6{
  margin: 0;
}

p,embed{
  margin-top: 50px;
}