@font-face {
  font-family: TUFont;
  src: url('../fonts/TUFont.ttf'); }

@font-face {
  font-family: TUFont-bold;
  src: url('../fonts/TUFont-bold.ttf'); }

*:not(i){
  font-family: TUFont;
  font-size: 16px;
}


.container{
  margin-left:20px;
  margin-right:20px; 
  margin-top: 50px;
}

.uk-table th{
  color:#333;
  font-size: 16px;
}

.uk-button{
  color:#c3002f;
  font-size: 16px;
}
.uk-button-primary,.uk-button-danger{
  color: #fff;
}

input,textarea {
  resize: none;
  width: 50%;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 4px 6px;
  cursor: pointer;
}
input[type="file"] {
  border: none;
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
}
input[type="radio"] {
  width: 3%;
  border: none;
  cursor: pointer;
}